*{
    margin: 0;
    padding: 0;
}

h1{
    margin: 52px 0px 0px 139px;
}

.firsthalf{
    margin: 30px 139px 10px 139px ;
    color: #858585;
}

.fulllengths{
    margin-left: 139px;
    margin-right: 139px;
}

ul{
    margin: 20px;
    color: #858585;
}

ol{
    margin: 20px;
    color: #858585;
}

p{
    color: #858585;
}

dd{
    color: #858585;
}

tr td{
    padding: 4px;
}

#table{
    margin-left: 338px;
}

.paragraph{
    background-color:#ececec;
    border: 1px #EDEDED;
    padding: 17px 23px 17px 24px;
    color: #858585;
    border-radius: 10px;
}

.black{
    color:  black;
    border: none;
    border-radius: none;
    font-size: 16px;
}
b{
    color: black;
}

pre{
    border: 1px solid #D8D8D8;
    border-radius: 10px;
    opacity: 1;
    padding: 33px;
    color: #007EB4;
}

